<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>dundun.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A920B19C1CB49EA800A6DA3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A920B1B01CB49EA800A6DA3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A920B1BB1CB49EA800A6DA3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
